{% extends "base.html" %}

{% block people %}
<title>Friends</title>
<a href="/find_new"  class="btn btn-secondary">Find certain user</a>
{% for item in users %}
<div class="col-md10 border rounded">
    <p>
        {% if item.photo == 'True' %}
            <img src=f'static/img/{item.name}.jpg' align="left" class="img_profile">
        {% else %}:
            <img src=f'static/img/profile.jpg' align="left" class="img_profile">
        {% endif %}
        <div style="text-align: left;">{{item.name}}</div>
        <div style="text-align: left;">{{item.country}}</div>
        <div>{{item.about_yourself}}</div>
        <a href="/messager/{{ item.id }}" class="btn btn-primary">Write</a>
    </p>
</div>
{% endfor %}
{% endblock %}